.App {
  font-family: sans-serif;
  text-align: center;
}

* > body {
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 800px;
  margin-top: 5px;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
  img {
    width: 100%;
    margin-top: 5px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
  img {
    width: 100%;
    margin-top: 5px;
  }
}